<div class="row">
  <div class="col-xl-4 col-lg-7">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Balita</h6>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <div class="chart-pie pt-4">
          <canvas id="DonutChartBalita"></canvas>
        </div>
        <div class="mt-4 text-center font-weight-bold">
          <span class="mr-2">
            <i class="fas fa-circle text-male"></i><%= " Laki-Laki : #{number_with_precision(@male_balitas.size, :precision => 0, :delimiter => ',')}" %>
          </span>
          <span class="mr-2">
            <i class="fas fa-circle text-female"></i><%= " Wanita : #{number_with_precision(@female_balitas.size, :precision => 0, :delimiter => ',')}" %>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-7">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Caberawit</h6>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <div class="chart-pie pt-4">
          <canvas id="DonutChartCaberawit"></canvas>
        </div>
        <div class="mt-4 text-center font-weight-bold">
          <span class="mr-2">
            <i class="fas fa-circle text-male"></i><%= " Laki-Laki : #{number_with_precision(@male_caberawits.size, :precision => 0, :delimiter => ',')}" %>
          </span>
          <span class="mr-2">
            <i class="fas fa-circle text-female"></i><%= " Wanita : #{number_with_precision(@female_caberawits.size, :precision => 0, :delimiter => ',')}" %>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-7">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Pra Remaja</h6>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <div class="chart-pie pt-4">
          <canvas id="DonutChartPraRemaja"></canvas>
        </div>
        <div class="mt-4 text-center font-weight-bold">
          <span class="mr-2">
            <i class="fas fa-circle text-male"></i><%= " Laki-Laki : #{number_with_precision(@male_pra_remajas.size, :precision => 0, :delimiter => ',')}" %>
          </span>
          <span class="mr-2">
            <i class="fas fa-circle text-female"></i><%= " Wanita : #{number_with_precision(@female_pra_remajas.size, :precision => 0, :delimiter => ',')}" %>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xl-2 col-lg-7"></div>
  <div class="col-xl-4 col-lg-7">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Remaja</h6>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <div class="chart-pie pt-4">
          <canvas id="DonutChartRemaja"></canvas>
        </div>
        <div class="mt-4 text-center font-weight-bold">
          <span class="mr-2">
            <i class="fas fa-circle text-male"></i><%= " Laki-Laki : #{number_with_precision(@male_remajas.size, :precision => 0, :delimiter => ',')}" %>
          </span>
          <span class="mr-2">
            <i class="fas fa-circle text-female"></i><%= " Wanita : #{number_with_precision(@female_remajas.size, :precision => 0, :delimiter => ',')}" %>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-7">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Muda-Mudi</h6>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <div class="chart-pie pt-4">
          <canvas id="DonutChartMudaMudi"></canvas>
        </div>
        <div class="mt-4 text-center font-weight-bold">
          <span class="mr-2">
            <i class="fas fa-circle text-male"></i><%= " Laki-Laki : #{number_with_precision(@male_muda_mudis.size, :precision => 0, :delimiter => ',')}" %>
          </span>
          <span class="mr-2">
            <i class="fas fa-circle text-female"></i><%= " Wanita : #{number_with_precision(@female_muda_mudis.size, :precision => 0, :delimiter => ',')}" %>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-2 col-lg-7"></div>
</div>