<div class="row">
  <div class="col-lg-5 mb-4">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <div class="d-sm-flex align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-gray-800">Daftar Desa</h6>
          <%= link_to 'javascript:void(0);', class: 'd-none d-sm-inline-block btn btn-sm btn-primary shadow-sm', 'data-toggle': "modal", 'data-target': "#ModalCenter", onclick: "addDesa();" do %>
            <i class="fas fa-plus-circle fa-sm text-white-50"></i> Tambah Desa
          <% end %>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Nama</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% desas.each do |desa| %>
                <tr>
                  <td><%= desa.name %></td>
                  <td>
                    <%= link_to desa, class: 'btn btn-info btn-circle btn-sm', data: { reload: true } do %>
                      <i class="fas fa-eye" title="view"></i>
                    <% end %>
                    <%= link_to 'javascript:void(0);', class: 'btn btn-success btn-circle btn-sm', 'data-toggle': "modal", 'data-target': "#ModalCenter", onclick: "editDesa('#{desa.slug}');" do %>
                      <i class="fas fa-edit" title="edit"></i>
                    <% end %>
                    <%= link_to desa, method: :delete, data: { confirm: "Apakah anda yakin akan menghapus desa #{desa.name} ?" }, class: 'btn btn-danger btn-circle btn-sm' do %>
                      <i class="fas fa-trash" title="delete"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-7 mb-4">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-gray-800">Jumlah Kelompok</h6>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <div class="chart-pie pt-4 pb-2">
          <canvas id="myPolarChart"></canvas>
        </div>
        <div class="mt-4 text-center small">
          <span class="mr-2">
            <i class="fas fa-circle text-primary"></i> <b>Total: <%= number_of_kelompoks %> Kelompok</b>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Form Desa -->
<div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div id="modal-form-desa" class="modal-content">
      <%= render 'modal_form', desa: desa %>
    </div>
  </div>
</div>
<!-- End Modal -->

<%= render 'desa_script' %>