<div class="text-center">            
  <div class="align-items-center mb-4">
    <div class="h3 font-weight-bold text-primary text-uppercase mb-1">Bandung Timur <sup>1</sup></div>
  </div>
</div>

<%= render 'chart_desa', desas: @desas, desa: @desa, number_of_kelompoks: @number_of_kelompoks %>
<%= render 'chart_umum' %>
<%= render 'chart_generus' %>
<%= render 'chart_non_generus' %>

<%= render 'script' %>