<%= form_with(model: desa, local: true) do |form| %>
  <% if desa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(desa.errors.count, "error") %> prohibited this desa from being saved:</h2>

      <ul>
      <% desa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
