<%= form_with(model: kelompok) do |form| %>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLongTitle">Update Kelompok</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <% if kelompok.errors.any? %>
      <div id="error_explanation" class="alert-danger">
        <ul>
          <% kelompok.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= form.text_field :name, class: 'form-control', placeholder: 'Nama Kelompok', autofocus: true %>
    </div><br/>
    <div class="field">
      <%= form.text_field :address, class: 'form-control', placeholder: 'Alamat' %>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <%= form.submit 'Simpan', class: 'btn btn-primary' %>
  </div>
<% end %>