<div class="text-center">            
  <div class="align-items-center mb-4">
    <div class="h3 font-weight-bold text-primary text-uppercase mb-1"><%= @kelompok.name.capitalize %></div>
  </div>
</div>

<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-gray-800">
        <div class="d-sm-flex align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-gray-800">Total: <%= @kelompok.people.size %> Jiwa</h6>
        </div>
      </h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>No</th>
              <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending">
                Nama Lengkap
              </th>
              <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending">
                Nama Panggilan
              </th>
              <th>Status Pernikahan</th>
              <th>Status</th>
              <th>Tempat Lahir</th>
              <th>Tgl. Lahir</th>
              <th>Gol. Darah</th>
              <th>JK</th>
              <th>No. Telp</th>
              <th>Pend. Terakhir</th>
              <th>Keahlian</th>
              <th>Alamat</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>No</th>
              <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending">
                Nama Lengkap
              </th>
              <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending">
                Nama Panggilan
              </th>
              <th>Status Pernikahan</th>
              <th>Status</th>
              <th>Tempat Lahir</th>
              <th>Tgl. Lahir</th>
              <th>Gol. Darah</th>
              <th>JK</th>
              <th>No. Telp</th>
              <th>Pend. Terakhir</th>
              <th>Keahlian</th>
              <th>Alamat</th>
            </tr>
          </tfoot>
          <tbody>
            <% @records.each_with_index do |person, index| %>
              <tr role="row" class="<%= index.odd? ? 'odd' : 'even' %>">
                <td data-fixed-columns="true"><%= index.succ %></td>
                <td data-fixed-columns="true"><%= person.fullname %></td>
                <td><%= person.nickname %></td>
                <td><%= show_person_status(person.status) %></td>
                <td><%= formater_status(person.current_status) %></td>
                <td><%= person.place_of_birth %></td>
                <td><%= show_date_of_birth(person.date_of_birth) %></td>
                <td><%= person.blood_type %></td>
                <td><%= person.sex %></td>
                <td><%= person.phone_number %></td>
                <td><%= person.education %></td>
                <td><%= person.expertise %></td>
                <td><%= person.address %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
    </div>
  </div>

</div>
<!-- /.container-fluid -->

<%= render 'script' %>